/* Colors used for reference:
  Darker Gray: #4d4d4d
    - used for "COLMAR" at top of page, menu at top right of page, headings,
    'Start here' button, background for main banner section on mobile,

  Gray: #999999
    - used for "Academy" at top of page, footer, and text in the Start Learning,
    as well as Thesis exhibit section

  Lighter Gray: #e6e6e6
    - used for background color in some sections and footer border

  Blue: #66a3ff
    - used for "Read More" in info section


  White:
    - used for background color on some sections
*/

/* Fonts used for reference:
  Nunito
    - used for COLMAR ACADEMY text in header

  Oxygen
    - used for menu (header & Footer) & content

  Raleway
    - used for headers
*/

/* Universal Styles */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(
    https://fonts.gstatic.com/s/nunito/v8/cSNs3NwpEgPVRQzvkh3NeQ.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
  U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: local('Nunito SemiBold'), local('Nunito-SemiBold'), url(
    https://fonts.gstatic.com/s/nunito/v8/NcqjkPJTQZlJIFxZdZcTe1tXRa8TVwTICgirnJhmVJw.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
  U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(
    https://fonts.gstatic.com/s/oxygen/v5/78wGxsHfFBzG7bRkpfRnCQ.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
  U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(
    https://fonts.gstatic.com/s/raleway/v11/xkvoNo9fC8O2RDydKj12b_k_vArhqVIZ0nv9q090hN8.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
  U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(
    https://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
  U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  font-size: 16px;
}

body {
  font-family: "Oxygen", sans-serif;
}

div {
  display: block;
}

.image-container img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: #4d4d4d;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #4d4d4d;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  color: #4d4d4d;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #4d4d4d;
}

h6 {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  color: #4d4d4d;
}

a {
  text-decoration: none;
}

.gray-bkrd {
  background-color: #e6e6e6;
}

/* Header & Nav Section styling */
.header {
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
  height: 4rem;
  width: 97.7%;
  position: fixed;
  z-index: 10;
  background-color: white;
}

.logo-and-text {
  display: flex;
  align-items: center;
}

.logo img {
  height: 3rem;
  width: auto;
}

header h6 span {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #4d4d4d;
  font-size: 1rem;
}

header h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #999999;
  font-size: 1rem;
}

.desktop-menu {
    display: flex;
    align-items: center;
}

nav span {
  padding-right: 1rem;
}

nav span a {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #4d4d4d;
}

/* Main Banner Section styling*/
.main-banner {
  padding: 6rem 0 2rem 0;
  background-color: #e6e6e6;
  display: flex;
}

.main-left-half {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  max-width: 60%;
}

.main-right-half {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  line-height: 1.25;
  max-width: 40%;
}

.word-container {
  max-width: 80%;
}

.word-container h3 {
  margin: 2rem 0;
}

#button {
  background-color: #4d4d4d;
  padding: .5rem 1.5rem .5rem 1.5rem;
  text-align: center;
}

#button a {
  font-size: 1.25rem;
  color: white;
}

/* Info Banner Section styling */
.info-banner {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.info-left-half {
  padding: 2rem 1.5rem;
  max-width: 60%;
  border-right: 1px solid #e6e6e6;
}

.info-text-container {
  width: 100%;
}

.info-text-container h2 {
  margin: 2rem 0 1.5rem 0;
}

.info-text-container p {
  margin-bottom: 2rem;
}

.info-right-half {
  padding-left: 1rem;
}

.info-block {
  width: 100%;
  display: flex;
  align-items: center;
}

.info-right-half .info-block {
  border: 1px solid #e6e6e6;
}

.info-text {
  line-height: 1.75;
}

.info-block img {
  width: 35%;
  margin: 1rem;
}

.info-text h6 {
  margin: .5rem 0;
}

.info-text a {
  color: #66a3ff;
}

.orientation {
  padding-top: 1rem;
}

/* Learning Section styling */
.learning-section {
  background-color: #e6e6e6;
}

.title {
  padding-top: 2rem;
  text-align: center;
}

.courses-container {
  margin: 2rem 4rem 0 4rem;
  display: flex;
  flex-wrap: wrap;
}

.course-box {
  width: 30%;
  margin: 0rem 1rem;
  background-color: white;
}

.course-box img {
  width: 100%;
  height: auto;
}

.top-half {
  margin-bottom: 1rem;
}

.bottom-half {
  margin-bottom: 2rem;
}

.box-content {
  margin: 1rem 1rem 1.5rem 1rem;
}

.box-content h4 {
  line-height: 2;
}

.box-content p {
  margin-top: .5rem;
  color: #666666;
  width: 80%;
}

/* Thesis exhibit section styling*/
.thesis-content {
  margin: 2rem 0;
  display: flex;
}

.thesis-content-left-half {
  max-width: 60%;
  margin-left: 1.5rem;
  margin-right: 1rem;
}

.thesis-content-text h4 {
  margin-top: 1.5rem;
}

.thesis-content p {
  margin-top: 1rem;
  color: #999999;
  font-size: 1rem;
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
}

.thesis-content-right-half {
  line-height: 1.5;
}

/* Footer styling */
footer {
  display: flex;
  justify-content: space-between;
  margin: 0rem 0 4rem 0;
  border-top: 1px solid #e6e6e6;
  color: #999999;
}

footer div {
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.legal span {
  padding-right: 1rem;
}

footer a {
  color: #999999;
}

/* Screen size styling */
/* Desktop styling */
@media only screen and (min-width: 481px){
  .header.mobile {
    display: none;
  }

}


/* Mobile screen size */
@media only screen and (max-width: 480px){
  /* Universal styles - mobile */
  h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 2.75rem;
    color: #4d4d4d;
  }

  h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    color: #4d4d4d;
  }

  h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #4d4d4d;
  }

  h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    color: #4d4d4d;
  }

  h6 {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 1.15rem;
    color: #4d4d4d;
  }


  /* Header section styling */
  .header.desktop {
    display: none;
  }

  .header.mobile {
    display: flex;
    justify-content: center;
  }

  .header.mobile nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }

  .header.mobile img {
    height: 2rem;
  }

  /* Main banner section styling */
  .main-banner {
    display: block;
    padding-top: 4rem;
    padding-bottom: 0;
  }

  .main-left-half {
    margin: 0 0 0 0;
    height: 11.25rem;
    max-width: 100%;
  }

  .main-left-half .image-container img {
    height: 11.25rem;
    object-fit: contain;
  }

  .main-right-half {
    padding: 2rem 1rem;
    margin-left: 0;
    max-width: 100%;
  }

  .word-container {
    max-width: 100%;
  }

  .main-right-half .word-container h2 {
    margin-bottom: 1.5rem;
  }

  /* Info section styling */
  .info-left-half {
    display: none;
  }

  .info-right-half {
    padding: 0;
    padding-bottom: 2rem;
    padding-right: 1rem;
  }

  .info-right-half .info-block  {
    border: none;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem 0 1rem;
  }

 .gray-bkrd {
    background-color: white;
  }

  .info-right-half .info-block img {
    padding: 0;
    margin: 0;
    width: 97.7%;
    height: 50%;
    object-fit: contain;
  }

  .info-right-half .info-block .info-text {
    padding-top: 1rem;
    padding-left: 1rem;
    line-height: 1.25;
    max-width: 80%;
  }

  /* Learning section styling */
  .learning-section {
    background-color: white;
    border: 1px solid #e6e6e6;
}

  .courses-container {
    margin: 0 0 1.5rem 0;
  }

  .course-box {
    margin: .5 1rem 1rem .5rem 1rem;
    width: 100%;
    background-color: #e6e6e6;
  }

  .course-box.top-half.software {
    margin-top: 1rem;
  }

  .top-half {
    margin-bottom: .5rem;
  }

  .bottom-half {
    margin-bottom: .5rem;
  }

  .course-box img {
    display: none;
  }

  .course-box p {
    display: none;
  }

  .box-content {
    margin-bottom: 1rem;
  }

  /* Thesis section styling */
  .thesis-content {
    margin-bottom: 0rem;
  }

  .thesis-content-left-half {
    max-width: 100%;
    margin: 0;
  }

  .thesis-content-left-half video {
    width: 100%;
  }

  .thesis-content-left-half .thesis-content-text {
    display: none;
  }

  .thesis-content-right-half {
    display: none;
  }

  /* Footer section styling */
  footer {
    padding: 1.5rem 0 1rem 0;
    margin: 0;
  }

  footer .legal {
    display: none;
  }

}
